* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* .body {} */

/* intro section */

.hamburger {
  margin: 25px;
}

.intro {
  background-image: url(images/mobile_intro_bg.png);

  /* background-repeat:repeat-x; */
  background-size: contain;
  width: auto;
  height: 500px;
}

.intro-sect {
  height: auto;
}

.title {
  color: #ec5242;
  margin: 17px;
}

.intro-title-1 {
  font-size: 25px;
  text-align: left;
}

.summary {
  display: flex;
  background: #fff;
  height: 120px;
  margin: 18px;
  margin-top: 30px;
  position: relative;
}

.summary-content {
  display: flex;
  margin: 5px;
  width: 99%;
  background-color: #f9f9f9;
  position: relative;
}

.summary-text {
  display: flex;
  font-size: 15px;
  line-height: 25px;
  margin: 10px;
  text-align: left;
  position: relative;
}

.start-info {
  padding-left: 20px;
  position: absolute;
}

/* programs section */
.pg-list {
  display: flex;
  font-size: 25px;
  color: #f5f5f5;
  justify-content: center;
  margin: 35px;
}

.program-sect {
  display: flex;
  flex-direction: column;
  background-image: url(images/pattern_bg.png);
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
  height: 750px;
  flex-wrap: wrap;
}

.program-container {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  height: 120px;
  margin: 4px;
  gap: 20px;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.lft-info {
  gap: 20px;
  width: 30%;
  display: flex;
  margin: 8px;
}

.pg-info1 {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #ec5242;
}

.rgt-info {
  width: 60%;
}

.rgt-info-txt {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #eaeaea;
  line-height: 20px;
}

.action {
  height: 60px;
  width: 250px;
  margin: 30px;
  background-color: #ec5242;
  border-style: none;
  color: #eaeaea;
  position: relative;
}

.join-us {
  display: flex;
  justify-content: center;
}

/* speaker section */
.tutors {
  display: flex;
  height: auto;
  flex-direction: column;
}

.speaker {
  display: flex;
  font-size: 25px;
  justify-content: center;
  margin: 35px;
}

.speaker-img {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 160px;
  border: 1px solid #ccc;
  border-radius: 8px 8px;
}

.thumbnail_1 {
  display: flex;
}

.speaker-info {
  display: flex;
  gap: 20px;
  margin: 20px;
}

.name {
  line-height: 18px;
  font-size: 12px;
}

.speaker-title {
  font-size: 14px;
  color: #ec5242;
  margin-top: 7px;
}

.speaker-tag {
  font-size: 20px;
}

.expand-sp-list {
  margin: 25px;
  width: auto;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 8px 8px;
  background-color: #fff;
}

.arrow-down {
  margin-left: 5px;
}
